{# src/EvryThing/GalerieBundle/Resources/views/layout.html.twig #}
	{%extends "::layout.html.twig"%}
	{% block stylesheets %}
		{{ parent() }}
	{% endblock %}
	{%block title%}
		{{parent()}}
	{%endblock%}
	{%block principal%}
	<div id="principal">
		<form method="post" {{ form_enctype(form) }}>
			{{ form_rest(form) }}
			<input type="submit" value="Ajouter"/>
		</form>
	</div>
	{%endblock%}